User/User/Connected Services/ClientService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServer/Client/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServer/Client/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsPasswordClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPasswordClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPasswordClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetCustomerByNameResult" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="c" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="c" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeBuy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBuyDetailsResult" nillable="true" type="q4:ArrayOfBuyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBuyings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBuyingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllBuyingsResult" nillable="true" type="q5:ArrayOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCakeDesserts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCakeDessertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllCakeDessertsResult" nillable="true" type="q6:ArrayOfCakeDesserts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q7:ArrayOfCakesCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextBuyingKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextBuyingKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextBuyingKeyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsKind">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllEventsKindResult" nillable="true" type="q8:ArrayOfEventKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBaseKind">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBaseKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllBaseKindResult" nillable="true" type="q9:ArrayOfBaseKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDesignedPhotoGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDesignedPhotoGalleryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllDesignedPhotoGalleryResult" nillable="true" type="q10:ArrayOfDesignedPhotoGallery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignedPhotoGalleriesByBaseKindAndEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseKind" type="xs:int" />
        <xs:element minOccurs="0" name="eventKind" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignedPhotoGalleriesByBaseKindAndEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetDesignedPhotoGalleriesByBaseKindAndEventResult" nillable="true" type="q11:ArrayOfDesignedPhotoGallery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByCodeBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeBuy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByCodeBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetOrderByCodeBuyingResult" nillable="true" type="q12:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="buying" nillable="true" type="q13:Buying" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="buyDetails" nillable="true" type="q14:ArrayOfBuyDetails" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="orders" nillable="true" type="q15:ArrayOfOrders" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="pics" nillable="true" type="q16:ArrayOfPicturesInCake" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstPic" nillable="true" type="q17:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetStatusByCodeResult" nillable="true" type="q18:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllbuyDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllbuyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllbuyDetailsResult" nillable="true" type="q19:ArrayOfBuyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyingsByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="customer" nillable="true" type="q20:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyingsByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBuyingsByCustomerResult" nillable="true" type="q21:ArrayOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyDetailsByBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buying" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuyDetailsByBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBuyDetailsByBuyingResult" nillable="true" type="q22:ArrayOfBuyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buying" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetOrdersByBuyingResult" nillable="true" type="q23:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPictureInCake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="pic" nillable="true" type="q24:PicturesInCake" />
        <xs:element minOccurs="0" name="fileImage" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPictureInCakeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCakeDessertsByCategoryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cakesCategoryCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCakeDessertsByCategoryCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetCakeDessertsByCategoryCodeResult" nillable="true" type="q25:ArrayOfCakeDesserts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q26:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersByBuyingCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buying" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersByBuyingCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllOrdersByBuyingCodeResult" nillable="true" type="q27:ArrayOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextMessagesKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextMessagesKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextMessagesKeyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="messages" nillable="true" type="q28:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q29:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="o" nillable="true" type="q30:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetMessagesByCustomerResult" nillable="true" type="q31:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="o" nillable="true" type="q32:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>